.oopTag { color:orange }
.oopPhp {color:red}
i {color:green}
.frame{background-color:white;padding:9px;border:1px solid #ddd;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
.frm{background-color:white;border:1px solid #ddd;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
