body {	margin:0;padding:0;
	margin-top:2px;
	background:white;
	margin-left:33px;
	color:navy;
	white-space:pre;
	background-image:url("images/line-numbers.png");
	background-repeat:repeat-y;
	line-height:14px;
	height:100%;}
*{margin:0;font-family:verdana;font-size:11px}
P {margin:0;padding:0;border:0;outline:0;display:block;white-space:pre;}
b, i, s, u, a, em, tt, ins, big, cite, strong, var, dfn {/*font-family:arial;font-size:13px;*/text-decoration:none;font-weight:normal;font-style:normal;}

body.hide-line-numbers {background:white;margin-left:16px;}
body.show-line-numbers {background-image:url("images/line-numbers.png");margin-left:32px;}
/*
html {border:none;} //remove ie frameborder 
body {margin-top:13px;_margin-top:13px;background:#222222;color:white;font-family:monospace;font-size:13px;margin-left:32px;white-space:pre;background-image:url("images/linenumbers.png");background-repeat:repeat-y;background-position:0px 0px;line-height:16px;}
html>body{background-position:0 2px;}
P {margin:0;padding:0;border:0;outline:0;display:block;white-space:pre;}
b, i, s, u, a, em, tt, ins, big, cite, strong {text-decoration:none;font-weight:normal;font-style:normal;font-size:13px;}*/
