body{background-color: #f7f7f7}
body,div,input {font-size:12px;font-family:"Helvetica Neue", LucidaGrande, "Lucida Sans Unicode", "Lucida Sans Regular", Helvetica, Arial, sans-serif;}
input {text-align:center}
h1, h2, h3, h4, h5, h6 {font-weight:bold;margin:0}
h1 {font-size:1.1667em;margin-top:0.75em;margin-bottom:0.9em;color: #9f1010}
h2 {font-size:13px;margin-bottom:0.5em;}
h3 {font-size:1.1667em;margin-bottom:0.5em;text-align: left;}
h4 {margin-bottom:0.5em}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
address { font-style: normal }
img { border: none }
tt { white-space: pre }
ol.loweralpha { list-style-type: lower-alpha }
ol.upperalpha { list-style-type: upper-alpha }
ol.lowerroman { list-style-type: lower-roman }
ol.upperroman { list-style-type: upper-roman }
ol.arabic { list-style-type: decimal }


/* Link styles */
a { text-decoration: none; color: #E73}
a:hover{color:#9f1010}

/* Heading anchors */
* > .anchor:link, * > .anchor:visited { visibility: hidden; }


/* Forms */
input, textarea, select { margin: 2px }
input, select { vertical-align: middle }
input[type=button], input[type=submit], input[type=reset] { background: #eee; color: #222; border: 1px outset #ccc; padding: .1em .5em; }
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover { background: #ccb;}
input[type=button][disabled], input[type=submit][disabled], input[type=reset][disabled] { background: #f6f6f6; border-style: solid; color: #999; }
input[type=text], textarea { border: 1px solid #d7d7d7 }
input[type=text] { padding: .25em .5em }
input[type=text]:focus, input.textwidget:focus, textarea:focus { border: 1px solid #886; }
option { border-bottom: 1px dotted #d7d7d7 }
fieldset { border: 1px solid #d7d7d7; padding: .5em; margin: 1em 0 }
form p.hint, form span.hint { color: #666; font-size: 85%; font-style: italic; margin: .5em 0; padding-left: 1em;}
